*{
    margin: 0 auto;
    font-family: sans-serif;
    text-align:left;
}



h1{
    margin: 0;
}

nav{
    margin:0 ;
    font-weight: bold;
}

.figure-inicial{
    padding: 0;
}

header, footer{
    background-color: #2D3142;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1em 3em 1em 3em;
}

ul {
  list-style-type: none;
  display: flex;
  
}

li{ /* top right bottom left*/
    padding: 1em 1em 1em 0 
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:#EB5E28;
}

footer{
    display: flex;
    flex-direction: column;
    padding: 3em 0 1em 0;
    color:white;
    font-size: small;
}

.itens-footer{
    padding: 1em 0 1em 0;
}

.copyright{
    font-size: smaller;
}

.container-pag-inicio{
    display: flex;
    padding: 3em 4em 2em 4em; /* top right bottom left*/

}

.container-pag-inicio p{
    line-height: 30px; 
    
    

}

.container-pag-inicio h2{
    min-width: 549px;
}

h2{
    color:#EB5E28;
    margin-right: 3em;
    font-size: 36px;
}

.container-caixas{
    display:flex;
    padding: 2em 8em 4em 8em; /* top right bottom left*/
    gap: 5em;
}

.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #EB5E28 solid 1px;
    border-radius: 57px;
    padding: 1em;
}


/* top right bottom left*/
.caixa p, .caixa h3, .caixa figure{
    padding: 0.5em 0 0.5em 0;
    
}

.caixa p{
 
    width: 10em;
}

.caixa h4{
    text-align: center;
}

.container-paragrafos{
    display: flex;
    flex-direction: column;
    padding: 1em 4em 1em 4em;
    gap:1em;
    text-align: left;
    line-height: 30px; 
    margin-top: 2em;
    
}

.container-paragrafos h2, .container-paragrafos h3{
    margin:0;
    color:#EB5E28
}

.container-section-caixas{
    margin-bottom: 6em;
}

.container-notas{
    display: flex;
    padding: 1em 6em 4em 6em;
    gap:5em;

}

.notas{
    display: flex;
    flex-direction: column;
    border: solid 4px #EB5E28;
    border-radius: 57px;
    padding: 2em;
    text-align: left;
   
}

.notas h3{
    color: #EB5E28;
    border-bottom: solid 3px black;
    margin-bottom: 1em;
    font-size: 24px;
    margin-left: 0;
}

.notas p{
    line-height: 30px; 
   
}

.lista{
    
    flex-direction: column;
    list-style:disc;
    text-align: left;
    margin: 0;
    margin-top: 1em;

}

.item-lista{
   padding: 0 1em 0.5em ; /* top right bottom left*/
   margin: 0;
   
}